<mat-toolbar color="primary">
  <span>ETV Minecraft</span>
</mat-toolbar>

<mat-card>
  <mat-card-title>Server status</mat-card-title>
  <div *ngIf="!loaded">
    <p>
      Loading
    </p>
  </div>
  <div *ngIf="loaded">
    <h3>Latency</h3>
    <p>
      {{status.latency}}
    </p>
    <h3>Players online</h3>
    <p>
      {{status.players.online}} / {{status.players.max}}
    </p>
    <h3>Version</h3>
    <p>
      {{status.version.name}}
    </p>
  </div>
</mat-card>

<mat-card>
    <mat-card-title>Players online</mat-card-title>
    <div *ngIf="!loaded">
        <p>
          Loading
        </p>
      </div>
    <div *ngIf="loaded && !status.players.online">
      <p>
        No players online.
      </p>
    </div>
    <div *ngIf="loaded && status.players.online">
      <mat-list>
          <mat-list-item *ngFor="let player of status.players.sample">{{player.name}}</mat-list-item>
      </mat-list>
    </div>
  </mat-card>


<mat-card>
    <mat-card-title>Info</mat-card-title>
    <p>Ook een minecraft fanaat? Je kan meespelen op de ETV server! Verbind met onderstaande server.</p>
    <p><code>etv.tudelft.nl:1723</code></p>
  </mat-card>
